.header{
    display: flex;
    border: solid 1px black;
    justify-content: space-between;
}

.logo{
    width:200px;
}

.nav_items >ul{
    display: flex;
    
}

.nav_items >ul >li{
    font-size: 24;
    list-style: none;
    padding: 0px 20px;
}

.res-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.res-card-container{
    background-color: aqua;
    width:300;
    height:400;
}

.res-card-img{
    width:300;
    height:200;

}